---
import Layout from '../../layouts/Layout.astro';
import PassionsComponent from '../../components/Passions.astro';
---

<Layout title="Projects & Passions" lang="en" description="My personal projects and passions: Home Automation, Aeromodelling, Tech...">
    <div class="pt-10">
        <PassionsComponent lang="en" />
    </div>
</Layout>
