---
import Layout from '../layouts/Layout.astro';
import PassionsComponent from '../components/Passions.astro';
---

<Layout title="Projets & Passions" description="Mes projets personnels et passions : Domotique, Aéromodélisme, Tech...">
    <div class="pt-10">
        <PassionsComponent lang="fr" />
    </div>
</Layout>
